---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import Sidebar from "../../layouts/Sidebar.astro";
import TicketView from "../../layouts/TicketView.jsx";
import { db } from "../../index";
import { tickets } from "../../db/schema";
import { eq } from "drizzle-orm";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/')
}

const ticket = await db.query.tickets.findFirst({
  where: eq(tickets.id, parseInt(id)),
  with: {
    messages: true,
  },
})

if (!ticket) {
  return Astro.redirect('/')
}
---

<Layout title="Mailcue - View">
  <div class="w-full h-screen bg-white flex flex-row">
    <Sidebar />
    <TicketView ticket={ticket} client:load server:defer />
  </div>
</Layout>
