@import "tailwindcss";

.better-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: oklch(92.2% 0 0) transparent;
}

/* Chromium, Safari */
.better-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.better-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.better-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(98.5% 0 0);
  border-radius: 9999px;
}

.better-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: oklch(98.5% 0 0);
}
