---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../layouts/Sidebar.astro';
import TicketForm from "../components/TicketForm.jsx";
---

<Layout title="Home">
  <div class="w-full h-screen bg-white flex flex-col">
    <div class="flex flex-row h-full w-full">
      <Sidebar />
      <TicketForm />
    </div>
  </div>
</Layout>
