---
import PlusCircleIcon from '../assets/icons/plus-circle-bold.svg?raw';
import TicketIcon from '../assets/icons/ticket-bold.svg?raw';
---

<div class="h-full w-fit border-r-2 border-neutral-100 bg-white">
  <div class="text-black font-bold text-2xl p-8 text-center border-b-2 border-neutral-100">
    Mailcue
  </div>
  <ol class="p-8 flex flex-col text-black font-bold gap-4 text-nowrap">
    <a href="/create"
      class="flex flex-row items-center gap-2 rounded-md hover:bg-neutral-100 hover:cursor-pointer py-3 px-4 transition-all duration-100"
    >
      <div class="size-6" set:html={PlusCircleIcon} ></div>
      Create Ticket
    </a>
    <a href="/view"
      class="flex flex-row items-center gap-2 rounded-md hover:bg-neutral-100 hover:cursor-pointer py-3 px-4 transition-all duration-100"
    >
      <div class="size-6" set:html={TicketIcon} ></div>

      View Tickets
    </a>
  </ol>
</div>
